.bubbleBG
{
max-width: 1000px;
  padding-top: 40px;
  padding-right: 40px;
  margin: 0 0 40px 250px;
}

.BG{
  background-image: url(/images/gradient-sky.jpg);
  min-height: 800px;
  min-width: 1024px;
  background-size: cover;
  width: 100%;
  height: auto;
  
  top: 0;
  left: 0;
}

*{
  margin: 0px;
  padding: 0px;
}

#a2{
  background-color: #E6002E;
  border: none;
  float: right;
  border-radius: 25px;
  color: white;
  padding: 1px 10px;
  text-align: center;
    text-decoration: none;
    display: inline;
    font-size: 16px;
    margin: -2px;
    cursor: pointer;
  }
  
.search {
    list-style-type:none;
    left: 280px;
    font-family: Times New Roman, sans-serif;
    font-weight: 600;
    font-size: 20px;

  }

#resetModule{
      margin-top: 0px;
      float: right;
      margin-right: 30px;
    }


label{
width:80px;
margin-right:30px;
text-align:right;
}

.s-alert-warning {
    background: #f9586e;
    color: #fff;
}

.s-alert-top-right { /*center popup*/
    display: inline-block;
    position: fixed;
    max-width: 350px;
    top: 30%;
    left: 40%;
}

.s-alert-bottom-right{
    width: 300px;
    line-height: 1.2;
    padding: 15px;
    margin: -10px;
}



#calendarDiv {
  max-width: 900px;
  margin: 60px auto;
  color: 2px solid grey;
}

select:required:invalid {
  color: gray;
}
option[value=""][disabled] {
  display: none;
}
option {
  color: black;
}

.numberInput {
  width: 85px;
}