/* The left sidebar */
.sidebar-left {
  position: fixed;
  top: 0;
  left: 0;
  background-color: #2d2d2d;
  background-size: cover;
  width: 200px;
  height: 100%;
  padding: 0px 0;
}

.icon {
  margin: 0 auto;
  padding: 0;
  width: 200px;
}

.sidebar-left .sidebar-links {
  margin: 5px auto;
}

.sidebar-left .sidebar-links a {
  display: block;
  text-decoration: none;
  margin: 0 auto 5px auto;
  padding: 20px 0;
  background-color: rgba(255, 255, 255, 0.1);
  font-family: "Times New Roman", Times, serif;
  color:  #b3bcc5;
  font-size: 20px;
  text-align: left;
  font-weight: 600;
  border-left-width: 3px;
  border-left-style: solid;
}
.sidebar-left .sidebar-links li {
  list-style-type: none;
  margin-left: 30px;
}


.sidebar-left .sidebar-links a:hover{
  background-color: rgba(255, 255, 255, 0.5);
  color: #ffffff;
  -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
      -o-transition: all 0.5s;
        transition: all 0.5s;
}


.sidebar-left .sidebar-links a.selected{
  background-color: #ffffff;
  color: rgba(0, 0, 0, 1);
  font-weight: bold;
  cursor: default;
  -webkit-transition: all 0.5s;
     -moz-transition: all 0.5s;
       -o-transition: all 0.5s;
          transition: all 0.5s;
}

.sidebar-left .sidebar-links a.calendarButton {
  border-color: #0099ff;
}

.sidebar-left .sidebar-links a.homeButton {
  border-color: #0099ff;
}

.sidebar-left .sidebar-links a.registerButton {
  border-color: #cc33ff;
}

.sidebar-left .sidebar-links a.loginButton {
  border-color: #00cc00;
}

.sidebar-left .sidebar-links a.eventListButton {
  border-color: #ffff00;
}

.sidebar-left .sidebar-links a.logout{
  border-color: #cc0000;
  margin-top: 200px;
}

.sidebar-left .sidebar-links a.newEventButton {
  border-color: #00cc00;
}

.sidebar-left .sidebar-links a.moduleListButton{
  border-color: #ffff00;
}